body {
    margin: 0;
    font-size: 20px;
    line-height: 1.7;    
}
header, footer, .container {
    max-width: 960px;
    padding: 20px 20px;
    margin: 0 auto;
}
header h1 {
    margin-bottom: 0;
}
footer p {
    font-size: 16px;
}